{% extends "base.html" %}
{% load static %}


{% block page_content %}
    <head>
    <style>
    div.gallery {
      margin: 5px;
      border: 1px solid #ccc;
      float: left;
      width: 525px;
    }

    div.gallery:hover {
      border: 1px solid #777;
    }

    div.gallery img {
      width: 100%;
      height: auto;
    }

    div.desc {
      padding: 15px;
      text-align: center;
    }

    div.spacer {
    height: 100px;
    }
    </style>
    </head>

    <h2_page><center>This is how we started</center></h2_page>
      <p>
        It’s a match! There goes our first impression of each other on the
        internet. Our journey begins 2 years ago, as Jonathan came to visit me
        all the way from Schwäbisch Hall after a mutual fondness of each other
        on an app.

        Ever since then we start meeting up regularly and went through ups
        and downs together. We are now ready to go for the next step of our
        relationship. We are happy to share this love with our friends and
        family and to start a future with each other.
      </p>

      <p>
        Unsere Liebe begann vor 2 Jahren, als wir uns zum ersten Mal in
        Waiblingen trafen. Seitdem sind wir unzertrennlich und haben viele
        Höhen und Tiefen gemeinsam durchgestanden. Wir haben uns immer
        gegenseitig unterstützt und sind nun bereit, den nächsten Schritt
        in unserer Beziehung zu gehen. Wir freuen uns darauf, unsere Liebe
        mit unseren Freunden und Familien zu teilen und gemeinsam in die
        Zukunft zu starten.
      </p>


    <div class="gallery">
    <a target="_blank" href="{% static 'images/pat1.jpg' %}">
        <img src="{% static 'images/courting_figs/pat6.jpeg' %}"
             alt="Cinque Terre" width="1500" height="800">
    </a>
    <div class="desc">Both of us are food lovers!<br>
                      Wir sind beide Feinschmecker!</div>
    </div>

    <div class="gallery">
    <a target="_blank" href="{% static 'images/pat1.jpg' %}">
        <img src="{% static 'images/courting_figs/pat2.jpeg' %}"
             alt="Cinque Terre" width="1500" height="800">
    </a>
    <div class="desc">We also love winter and snow!<br>
                      Wir lieben auch Winter und Schnee!</div>
    </div>

    <div class="gallery">
      <a target="_blank" href="{% static 'images/pat1.jpg' %}">
          <img src="{% static 'images/courting_figs/pat9.jpeg' %}"
               alt="Cinque Terre" width="1500" height="800">
      </a>
      <div class="desc">Both of us are also football fans.<br>
                        Wir sind beide auch Fußballfans.</div>
    </div>

    <div class="gallery">
      <a target="_blank" href="{% static 'images/pat1.jpg' %}">
          <img src="{% static 'images/courting_figs/pat18.jpeg' %}"
                alt="Cinque Terre" width="1500" height="400">
      </a>
      <div class="desc">We love to be close with nature.<br>
        Wir lieben es, der Natur nahe zu sein.</div>
    </div>


    <div class="gallery">
      <a target="_blank" href="{% static 'images/pat1.jpg' %}">
          <img src="{% static 'images/courting_figs/pat26.jpeg' %}"
                alt="Cinque Terre" width="1500" height="400">
      </a>
      <div class="desc">Our travel to Sarawak in Malaysia.<br>
        Unsere Reise nach Sarawak in Malaysia.</div>
    </div>


    <div class="gallery">
      <a target="_blank" href="{% static 'images/pat1.jpg' %}">
          <img src="{% static 'images/courting_figs/pat27.jpeg' %}"
                alt="Cinque Terre" width="1500" height="400">
      </a>
      <div class="desc">We also stopped by China Town in Petaling Jaya,
        Malaysia.<br> Wir machten auch Halt in China Town in Petaling Jaya,
        Malaysia.</div>
    </div>

{% endblock %}
