{% extends "base.html" %}
{% load static %}


{% block page_content %}
    <h1><center>PATRICIA & JONATHAN</center></h1>
    <h2><center>September 9, 2023</center></h2>
    <h2><center>Schwäbisch Hall & Mainhardt</center></h2>
    <center><img src="{% static 'images/pat1.jpg' %}"
        alt="wedding_homepage"
        width="70%"></center>

    <p>
        We are happy that you are here to witness our marriage ceremony.
        Here you can find the most important information on our wedding day.
        Feel free to explore here a bit and see you at our big day!
    </p>
    <p>
        Wir freuen uns sehr, dass ihr hier seid und uns auf unserem Weg zur
        Ehe begleitet. Auf dieser Seite findet ihr alle wichtigen Informationen
        rund um unsere Hochzeit, von der Location bis hin zum Dresscode.
        Wir hoffen, dass ihr euch hier gut zurechtfindet und freuen uns
        schon sehr auf unseren großen Tag!
    </p>


{% endblock %}
