{% extends "base.html" %}
{% load static %}


{% block page_content %}
    <h2_page>Program</h2_page>
    <p>
      Our wedding day will be a day full of joy, love and fun.
      The day will start with a church wedding ceremony and and after that
      a party in the evening. It will surely be a day full of highlights
      that we will share fondly with our guests. In order for that to happen,
      we welcome our guests to contribute to the program. We welcome any
      creative ideas and please send your suggestion to Philipp Meyer
      (philippmeyer@wuerth.com).
    </p>

    <p>
      Unsere Hochzeit wird ein Tag voller Freude, Liebe und Spaß sein.
      Wir haben ein abwechslungsreiches Programm geplant, das für jeden
      etwas zu bieten hat. Von der Trauung bis hin zur Party am Abend wird
      es viele Highlights geben, die wir gemeinsam mit unseren Gästen
      erleben möchten. Wir freuen uns darauf, diesen besonderen Tag mit euch
      zu teilen! Programbeitrag bitte an Philipp Meyer
      (philippmeyer@wuerth.com).
    </p>

    <center><img src="{% static 'images/flyer.png' %}"
      alt="wedding_flyer"
      width="70%"></center>

    <h2_page>Dresscode</h2_page>
    <p>
      We want our guests to feel comfortable and beautiful on our big day.
      Therefore we have decided on a dress code that is elegant and festive.
      The ladies are welcome to appear in a nice dress or a smart pantsuit,
      the gentlemen in a suit or a combination. We look forward to seeing
      you all in your most beautiful outfits!
    </p>

    <p>
      Wir möchten, dass sich unsere Gäste an unserem großen Tag wohl und
      schön fühlen. Deshalb haben wir uns für einen Dresscode entschieden,
      der elegant und festlich ist. Die Damen dürfen gerne in einem schönen
      Kleid oder einem schicken Hosenanzug erscheinen, die Herren in einem
      Anzug oder einer Kombination. Wir freuen uns darauf, euch alle
      in euren schönsten Outfits zu sehen!
    </p>

    <h2_page>Gift ideas</h2_page>
    <p>
      We are overjoyed that you will be part of our big day and gift us
      with your presence. However, gifts are not a must for us.
      If you still want to make us happy, we would be glad to receive a
      small donation for our home furnishings or a gift from the wedding list.
      We thank you from the bottom of our hearts for your support
      and your love!
    </p>

    <p>
      Wir sind überglücklich, dass ihr an unserem großen Tag dabei sein
      werdet und uns mit eurer Anwesenheit beschenkt. Geschenke sind für
      uns jedoch kein Muss. Solltet ihr uns dennoch eine Freude machen wollen,
      freuen wir uns über eine kleine Spende für unsere Wohnungseinrichtung
      oder ein Geschenk aus der Hochzeitstisch.Mit voller Herzen danken
      wir für eure Unterstützung und eure Liebe!
    </p>

    <a href="https://www.amazon.de/wedding/share/Jonipat090923">
    <center><img src="{% static 'images/amazon_wishlist.png' %}"
      alt="amazon_wishlist"
      width="70%"></center>
    </a>


{% endblock %}
